@import './_colors.scss';


body {
  background: $cl-bg;
  color: $cl-fg;
}

.cl-bg {
  background: $cl-bg;
}

.cl-bg-inverted {
  background: $cl-fg;
}

.cl-fg {
  color: $cl-fg;
}

.cl-fg-inverted {
  color: $cl-bg;
}
